<form class="tw-max-w-md tw-mx-auto tw-mt-20 tw-p-6 tw-bg-white tw-border tw-rounded-lg tw-shadow-lg">
  <h2 class="tw-text-2xl tw-font-bold tw-mb-6 ">Submit Your Complaint Here!</h2>
  <div class="tw-mb-4">
      <label class="tw-block tw-text-gray-700 tw-font-bold tw-mb-2" for="name">
    Name:
  </label>
      <input class="tw-shadow tw-appearance-none tw-border tw-rounded tw-w-full tw-py-2 tw-px-3 tw-text-gray-700 tw-leading-tight focus:tw-outline-none focus:tw-shadow-outline" id="name" type="text" placeholder="Enter your name">
  </div>
  <div class="tw-mb-4">
      <label class="tw-block tw-text-gray-700 tw-font-bold tw-mb-2" for="email">
    Email:
  </label>
      <input class="tw-shadow tw-appearance-none tw-border tw-rounded tw-w-full tw-py-2 tw-px-3 tw-text-gray-700 tw-leading-tight focus:tw-outline-none focus:tw-shadow-outline" id="email" type="email" placeholder="Enter your email">
  </div>
  <div class="tw-mb-4">
      <label class="tw-block tw-text-gray-700 tw-font-bold tw-mb-2" for="feedback">
    Feedback:
  </label>
      <textarea class="tw-shadow tw-appearance-none tw-border tw-rounded tw-w-full tw-py-2 tw-px-3 tw-text-gray-700 tw-leading-tight focus:tw-outline-none focus:tw-shadow-outline" id="feedback" rows="5" placeholder="Enter your feedback"></textarea>
  </div>
  <button class="tw-bg-blue-500 hover:tw-bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded focus:tw-outline-none focus:tw-shadow-outline " type="submit" (click)="backToProduct()">
  Submit
</button>
</form>

