
 body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-image: url("https://codewithsadee.github.io/anon-ecommerce-website/assets/images/banner-1.jpg");
    background-repeat: no-repeat;
    color: #121111;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #1c1a1a;
    font-weight: 400;
    padding: 10px;
}

.nav-links li a:hover {
    color: #00ff77a8;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons a {
    color: #080808;
    text-decoration: none;
    font-size: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    height: 100%;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.shop-now, .explore {
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 70px;
}

.shop-now {
    background-color: #f1000058;
    color: #ffffff;
    font-size: 20px;
    border: 2px solid #fff;
}

.explore {
    
    border: 2px solid #fff;
    background-color: #f1000058;
    color: #ffffff;
    font-size: 20px;
}

.shop-now:hover, .explore:hover {
    opacity: 0.8;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
