
 <app-navbar></app-navbar>

 <body class="tw-bg-gradient-to-r tw-from-pink-700 tw-to-yellow-700 tw-text-transparent tw-bg-clip-text tw-font-dancing">
    
     <section class="hero">
         <div class="hero-content tw-bg-gradient-to-r tw-from-pink-700 tw-to-yellow-700 tw-text-transparent tw-bg-clip-text tw-font-dancing">
             <h1><a style="font-size: 90px;">No.1</a> ECOMMERCE WEBSITE </h1>
             <p style="font-size: 30px">Upgrade your wardrobe, elevate your confidence, and make every outfit count.</p>
             <div class="hero-buttons">
                 <a href="/Product" class="shop-now">Shop Now</a>
                 <a href="/About" class="explore">Explore</a>
             </div>
         </div>
     </section>
 </body>

 