.col-lg-5{
   margin-left: 1%;

}

.image{
   width: 30px;
   height: 30px;
}

.image2{
   width:60px;
   height: 40px;
}




.text{
   font-size: large;
   color: black;
   margin-left: auto;
}

.input{
   width: 100%;
   height: 10%
}

.input2{
   height: 30%;
   width: 100%;
   text-align: start;
   align-items: baseline;
   display: flex;
}

.button{
   color: white;
   width: 100%;
}

.follow{
   margin-top: 200px;
}

.heading{
   font-size: 60px;
   font-weight: bolder;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-left: 60px;

}

.para{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-left: 60px;
   font-size: 40px;
   margin-bottom: 150px;
}

.images img {
   width: 200px; 
   height: 300px; 
   margin-left: 60px;
   border-radius: 10px; 
   margin-bottom: 150px;
   display: inline-block;
}

.info-bar {
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
}

.info-item {
   display: flex;
   align-items: center; 
   text-align: left; 
   max-width: 700px; 
}

.image {
   width: 50px;
   height: 50px;
   margin-right: 10px; 
   margin-top: 150px;
   margin-bottom: 150px;
}

.text{
   font-size: 30px;
}

