
    <div class="top">
        <header class="header">
            <h1>Complaints Review</h1>
        </header>
        
        <div class="table">
            <table>
                <thead>
                    <tr class="tablehead">
                        <th class="col" >#</th>
                        <th class="col" >Username</th>
                        <th class="col" >Email</th>
                        <th class="col" >Complaint</th>
                        <th class="col" >Date Submitted</th>
                        <th class="col" >Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of userlist; let index = index">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.password }}</td>
                        <td>{{ item.username }}</td>  
                        <td>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
