
.top{
    background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/a39b01197828603.Y3JvcCw1NzU0LDQ1MDEsMTI4LDA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
    font-size: 50px;
    width: 100%; 
}

.header h1 {

    color: #1d1c1c;
    background: rgba(219, 215, 215, 0.8);
}

.col{
    width: 250px;
}
.table {
    margin-left: 300px;
    align-items: center;
    border-color: #343a40;
}

.tablehead {
    color: #1d1c1c;
    background: rgba(219, 215, 215, 0.8);
    text-align: left;
    font-weight: bold;
    border: 1px solid #1d1c1c;
}

.table th,
.table td {
    padding: 20px 25px;
    border: 1px solid #1d1c1c;
    font-size: 1.3rem;
}

.table tbody tr th {
    color: #1d1c1c;
    background: rgba(219, 215, 215, 0.8);
    border: 1px solid #1d1c1c;
}

.table tbody tr:hover {
    background-color: #e2dfdf;
}

.btn {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}
