<div class="sidebar-toggle" (click)="toggleSidebar()">☰</div>
<div class="sidebar">
  <div class="logo">
    <h2><b>InternXe</b></h2>
  </div>
  <ul>
    <li (click)="Admin()">Dashboard</li>
    <li (click)="Products()">Products</li>
    <li (click)="Sales()">Sales</li>
    <li (click)="Users()">Customers</li>
    <li (click)="Notifications()">Complaints</li>

  </ul>
</div>
<h1 class="heading">CONTACT MESSAGES</h1>
<div class="space">
  <table class="table">
    <thead>
      <tr>
        <th class="col">#</th>
        <th class="col">Username</th>
        <th class="col">Email</th>
        <th class="col">Message</th>
        <th class="col">Date Submitted</th>
        <th class="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of messages; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.message }}</td>
        <td>{{ item.dateOfMessage }}</td>
        <td>
          <button class="btn" (click)="changeStatus(i)">
            {{ item.status === 'Completed' ? 'Completed' : 'pending' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
