

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Order details</h1>
        </header>
        
        <div class="feedback-table">
            <table class="table">
                <thead>
                    <tr class="tablehead">
                        <th scope="col">#</th>
                        <th scope="col">OrderId</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Date</th>
                        <th scope="col">Grand total</th>
                       
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of userlist; let index = index">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.id}}</td>
                        <td>{{ item.id }}</td>
                       
                </tr>
                
                  
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
