<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>ImageUrl</th>
      <th>Quantity</th>
      <th>Rating</th>
      <th>Comments</th>
      <th>Category</th>
      <th>Sale</th>
      <th>createdAt</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price.toFixed(2) }}</td>
      <td>{{ product.description }}</td>
      <td><img [src]="product.imageUrl" alt="{{ product.name }}"></td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.rating }}</td>
      <td>{{ product.comments }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.sale }}</td>
      <td>{{ product.createdAt | date }}</td>
      <td>
        <button (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>