/* 
.navbar {
    background-color: #dfd1d1;
    padding: 20px 30px;
    font-size: 1rem;
    border-bottom: 1px solid;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav-link {
    color: #0b0b0b; 
    padding: 20px 30px; 
    
}

.nav-link:hover {
    color:  #a69393;
   
    border-radius: 5px;
}

.nav-item.active .nav-link {
    font-weight: bold;
    color: #1a1b1c;
}

.nav-item {
    color: #000000;
    padding: 15px 20px;
}

.form-inline .form-control {
    margin-right: 10px;
    font-size: large;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
    font-size: large;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #ffffff; 
    border: 1px solid #dddddd; 
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .dropdown-item {
    color: #231414; 
    padding: 10px 15px; 
  }
  
  .dropdown-item:hover {
    background-color: #c2a1a1b5;  
    color:  #1d1c1c;
  }

.navbar .form-inline {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.cover{
    margin: 3%;
}

.logo{
    width: 130px;
    height: 70px;
}
 */


 
.logo {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 30px;
    font-size: 50px;
    cursor: pointer;
   
}

.logo:hover{
    transition: transform 0.3s ease;
    transform: scale(1.0);
}



.nav-links {
    list-style: none;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: right;
    gap: 80px;
   
}

.head{

    margin-top: 0px;
    background-image: url("https://codewithsadee.github.io/anon-ecommerce-website/assets/images/banner-1.jpg");

}

.nav-links li a {
    text-decoration: none;
    color: #1c1a1a;
    padding: 10px;
    font-weight: bolder;
    font-size: 40px;
}

.nav-links li a:hover {
    color: #3cff008d;
}


.imgsize1{
    width: 50px;
    height: 50px;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: right;
    color: #080808;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 200px;
   margin-right: 100px;
    
}

.imgsize1:hover {
    
    transition: transform 0.3s ease;
    transform: scale(1.1);
}


.imgsize2:hover {
    
    transition: transform 0.3s ease;
    transform: scale(1.1);
}


.imgsize2{
    width: 50px;
    height: 50px;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: right;
    color: #080808;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 20px;
}


