<header class="head">
  <nav>
    <div
      class="logo tw-bg-gradient-to-r tw-from-pink-500 tw-to-yellow-500 tw-text-transparent tw-bg-clip-text tw-font-dancing"
      routerLink="/">InternXe</div>
    <ul
      class="nav-links tw-bg-gradient-to-r tw-from-pink-700 tw-to-yellow-700 tw-text-transparent tw-bg-clip-text tw-font-dancing">
      <li><a routerLink="/home">Home</a></li>

      <li><a routerLink="/About">About</a></li>

      <li><a routerLink="/Product">Products</a></li>

      <li><a routerLink="/Contact">Contact</a></li>

      <li><a routerLink="/register" class="imgsize1"><img src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png"
            alt="User Icon" class="icon"></a></li>

    </ul>

  </nav>
</header>