<div class="tw-font-sans tw-bg-white tw-p-4">
  <div class="tw-max-w-4xl tw-mx-auto">
    <div class="tw-text-center">
      <h2
        class="tw-text-3xl tw-font-extrabold tw-text-gray-800 tw-inline-block tw-border-b-[3px] tw-border-gray-800 tw-pb-1">
        Checkout</h2>
    </div>

    <div class="tw-mt-12">
      <div class="tw-grid tw-md:grid-cols-3 tw-gap-4">
        <div>
          <h3 class="tw-text-3xl tw-font-bold tw-text-gray-300">01</h3>
          <h3 class="tw-text-xl tw-font-bold tw-text-gray-800 tw-mt-1">Personal Details</h3>
        </div>

        <div class="tw-md:col-span-2">
          <form #orderForm="ngForm">
            <div class="tw-grid tw-sm:grid-cols-2 tw-gap-4">
              <div>
                <input type="text" name="firstName" [(ngModel)]="order.firstName" placeholder="First name"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="text" name="lastName" [(ngModel)]="order.lastName" placeholder="Last name"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="email" name="email" [(ngModel)]="order.email" placeholder="Email address"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="text" name="phone" [(ngModel)]="order.phone" placeholder="Phone number"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="shippingAddress" name="shippingaddress" [(ngModel)]="order.shippingAddress"
                  placeholder="shippingAddress"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Add binding for shipping address and payment information -->

      <div class="tw-flex tw-flex-wrap tw-justify-end tw-gap-4 tw-mt-12">
        <button type="button"
          class="tw-px-6 tw-py-3 tw-text-sm tw-font-semibold tw-tracking-wide tw-bg-blue-600 tw-text-white tw-rounded-md hover:tw-bg-blue-700"
          (click)="navigateToHome()">Place Order</button>
      </div>
    </div>
  </div>
</div>
