<div class="tw-font-sans tw-bg-white tw-p-4">
  <div class="tw-max-w-4xl tw-mx-auto">
    <div class="tw-text-center">
      <h2 class="tw-text-3xl tw-font-extrabold tw-text-gray-800 tw-inline-block tw-border-b-[3px] tw-border-gray-800 tw-pb-1">Checkout</h2>
    </div>

    <div class="tw-mt-12">
      <div class="tw-grid tw-md:grid-cols-3 tw-gap-4">
        <div>
          <h3 class="tw-text-3xl tw-font-bold tw-text-gray-300">01</h3>
          <h3 class="tw-text-xl tw-font-bold tw-text-gray-800 tw-mt-1">Personal Details</h3>
        </div>

        <div class="tw-md:col-span-2">
          <form>
            <div class="tw-grid tw-sm:grid-cols-2 tw-gap-4">
              <div>
                <input type="text" placeholder="First name"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="text" placeholder="Last name"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="email" placeholder="Email address"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="number" placeholder="Phone number"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="tw-grid tw-md:grid-cols-3 tw-gap-4 tw-mt-12">
        <div>
          <h3 class="tw-text-3xl tw-font-bold tw-text-gray-300">02</h3>
          <h3 class="tw-text-xl tw-font-bold tw-text-gray-800 tw-mt-1">Shopping Address</h3>
        </div>

        <div class="tw-md:col-span-2">
          <form>
            <div class="tw-grid tw-sm:grid-cols-2 tw-gap-4">
              <div>
                <input type="text" placeholder="Street address"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="text" placeholder="City"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="text" placeholder="State"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
              <div>
                <input type="number" placeholder="Zip Code"
                  class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="tw-grid tw-md:grid-cols-3 tw-gap-4 tw-mt-12">
        <div>
          <h3 class="tw-text-3xl tw-font-bold tw-text-gray-300">03</h3>
          <h3 class="tw-text-xl tw-font-bold tw-text-gray-800 tw-mt-1">Payment method</h3>
        </div>

        <div class="tw-md:col-span-2">
          <div class="tw-grid tw-gap-4 tw-sm:grid-cols-2">
            <div class="tw-flex tw-items-center">
              <input type="radio" class="tw-w-5 tw-h-5 tw-cursor-pointer" id="card" checked />
              <label for="card" class="tw-ml-4 tw-flex tw-gap-2 tw-cursor-pointer">
                <img src="https://readymadeui.com/images/visa.webp" class="tw-w-12" alt="card1" />
                <img src="https://readymadeui.com/images/american-express.webp" class="tw-w-12" alt="card2" />
                <img src="https://readymadeui.com/images/master.webp" class="tw-w-12" alt="card3" />
              </label>
            </div>

            <div class="tw-flex tw-items-center">
              <input type="radio" class="tw-w-5 tw-h-5 tw-cursor-pointer" id="paypal" />
              <label for="paypal" class="tw-ml-4 tw-flex tw-gap-2 tw-cursor-pointer">
                <img src="https://readymadeui.com/images/paypal.webp" class="tw-w-20" alt="paypalCard" />
              </label>
            </div>
          </div>

          <div class="tw-grid tw-sm:grid-cols-4 tw-gap-4 tw-mt-4">
            <div class="tw-col-span-2">
              <input type="number" placeholder="Card number"
                class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
            </div>
            <div>
              <input type="number" placeholder="EXP."
                class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
            </div>
            <div>
              <input type="number" placeholder="CVV"
                class="tw-px-4 tw-py-3 tw-bg-white tw-text-gray-800 tw-w-full tw-text-sm tw-border-2 tw-rounded-md focus:tw-border-blue-500 tw-outline-none" />
            </div>
          </div>
        </div>
      </div>

      <div class="tw-flex tw-flex-wrap tw-justify-end tw-gap-4 tw-mt-12">
        
        <button  type="button"
          class="tw-px-6 tw-py-3 tw-text-sm tw-font-semibold tw-tracking-wide tw-bg-blue-600 tw-text-white tw-rounded-md hover:tw-bg-blue-700" (click)="navigateToHome()">Place Order</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
