<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input id="name"  formControlName="name" type="text" />
  
    <label for="price">Price:</label>
    <input id="price" formControlName="price" type="number" />
  
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
  
    <label for="imageUrl">Image URL:</label>
    <input id="imageUrl" formControlName="imageUrl" type="text" />
  
    <label for="quantity">Quantity:</label>
    <input id="quantity" formControlName="quantity" type="number" />
  
    <label for="rating">Rating:</label>
    <input id="rating" formControlName="rating" type="number" min="0" max="5" />
  
    <label for="comments">Comments:</label>
    <textarea id="comments" formControlName="comments"></textarea>
  
    <label for="category">Category:</label>
    <input id="category" formControlName="category" type="text" />
  
    <label for="sale">Sale:</label>
    <input id="sale" formControlName="sale" type="checkbox" />
  
    <button type="submit">Submit</button>
  </form>