<div class="container">
  <header class="header">
    <h1>Customer Details</h1>
  </header>

  <div class="feedback-table">
    <table class="table">
      <thead>
        <tr class="tablehead">
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <tr *ngFor="let item of userlist; let index = index">
          <th>{{ item.id }}</th>
          <td>{{ item.username }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.password }}</td>
          <td>
            <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(item.id)">
              Delete
            </button>
        </tr>

      </tbody>
    </table>
  </div>
</div>