<h2>Add New Product</h2>
<form (ngSubmit)="addProduct()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="newProduct.name" name="name" required>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" [(ngModel)]="newProduct.price" name="price" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" [(ngModel)]="newProduct.description" name="description" required>
  </div>
  <div>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" [(ngModel)]="newProduct.imageUrl" name="imageUrl">
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" [(ngModel)]="newProduct.quantity" name="quantity" required>
  </div>
  <div>
    <label for="rating">Rating:</label>
    <input type="number" id="rating" [(ngModel)]="newProduct.rating" name="rating" required>
  </div>
  <div>
    <label for="comments">Comments:</label>
    <input type="text" id="comments" [(ngModel)]="newProduct.comments" name="comments">
  </div>
  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" [(ngModel)]="newProduct.category" name="category" required>
  </div>
  <div>
    <label for="sale">Sale:</label>
    <input type="checkbox" id="sale" [(ngModel)]="newProduct.sale" name="sale">
  </div>
  <div>
    <label for="createdAt">Created At:</label>
    <input type="date" id="createdAt" [(ngModel)]="newProduct.createdAt" name="createdAt" required>
  </div>
  <button type="submit">Add Record</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>ImageUrl</th>
      <th>Quantity</th>
      <th>Rating</th>
      <th>Comments</th>
      <th>Category</th>
      <th>Sale</th>
      <th>createdAt</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price.toFixed(2) }}</td>
      <td>{{ product.description }}</td>
      <td><img [src]="product.imageUrl" alt="{{ product.name }}"></td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.rating }}</td>
      <td>{{ product.comments }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.sale }}</td>
      <td>{{ product.createdAt | date }}</td>
    </tr>
  </tbody>
</table>
